.flex-div {
    display: flex;
   
    
    
     
      
}
.divLogo {
    border: 2px solid #fafafa;
    flex-basis: 100%;
    background-color: #12110e;
    color: #fafafa ;
    font-family: 'Quicksand', sans-serif;
}

#h1Logo::first-letter{
    font-weight: bold;
    font-size: 55px;
}

.divLogin {
    border: 2px solid black;
    flex-basis: 100%;
    color:grey;
    
}
#id1{
    color: #00ff22;
    padding: 4px 4px;
}

#emailESenha {
    background-color: #fafafa;
    color: #050505;
    border-radius:3px;
}
#emailESenha:hover {
    background-color: #5a278c;
    color: #fafafa;
    border-radius:3px;
}
#hrLogo{
    width:20%;
	text-align: left;
    font-size: 40px;
    border-radius:3px;
    

}
#hrLogin{
    width: 30%;
	text-align: left;
    font-size: 40px;
    border-radius:3px;
}
.send{
    margin: 5px 5px;
    background-color:#cbced4;
    padding: 2px;
    border-radius:3px;
    color:#505154;
    border:1px solid #505154; ;
}
.send:hover{
    background-color:#5a278c ;
    color:#fafafa ;
    cursor: pointer;
    
}